<body>
    <header class = "hero"> 
        <div class = "container">
            <section class ="hero__container">
                <div class = hero__texts>
                    <h1 class="hero__title">FITNESS PASSION</h1>
                    <h2 class="hero__subtitle">90% of success is based on effort</h2>
                    <a href="paginas/JoinClass.html" class="nav__joinclass" > Join a class </a>
                    <a routerLink="/createRoutine" class="nav__routine" > Create a routine </a>

                </div>

            </section>
        </div>

    </header>
    
</body>
