<div class="container pt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Create Routine
                    </h3>
                    
                    <form class="mt-4">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control form-control-lg" formControlName="Name of the routine"
                                    placeholder="NameRoutine">
                            </div>
                        </div>
                        <h3>Exercice
                        </h3>
                        <input type="text" class="form-control form-control-lg mt-3" formControlName="Name"
                            placeholder="Name">
                        <div class="row">
                        <div class="col">
                            <input type="number" class="form-control form-control-lg mt-3" formControlName="Set"
                                placeholder="Set">
                        </div>
                        <div class="col">
                            <input type="number" class="form-control form-control-lg mt-3" formControlName="Repetition"
                                placeholder="Repetition">
                        </div>
                        </div>
                        <div class="mt-3">
                            <button type="text" class="btn btn-secondary btn-lg mr-3"
                                routerLink="/routines">Back</button>
                            <button type="submit" class="btn btn-dark btn-lg">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
