<div class="container">
    <div class="card text-center">
      <div class="card-header">
        <b>Login</b>
      </div>
      
        <form class="card-body p-4" [formGroup]="loginUser" (ngSubmit)="Ingresar()">
        <label style="float: left;">Email</label>
        <input class="form-control m-2" type="email" placeholder="" formControlName="email">
  
        <label style="float: left;">Password</label>
        <input class="form-control m-2" type="password" placeholder="" formControlName="password">
  
        <button class="btn btn-primary btn-block m-2" type="submit">Login</button>
        <label>Aun no tienes cuenta? <a routerLink="/singup">SingUp</a></label>
    </form>
  
  
    </div>
  </div>