<div class="container">
    <div class="card text-center">
      <div class="card-header">
        <b> Sing up</b>
      </div>
      
        <form class="card-body p-4" [formGroup]="createUser" (ngSubmit)="registrarse()">
        <label style="float: left;">Email</label>
        <input class="form-control m-2" type="email" placeholder="" formControlName="email">
  
        <label style="float: left;">Password</label>
        <input class="form-control m-2" type="password" placeholder="" formControlName="password">
        <label style="float: left;">Name</label>
        <input class="form-control m-2" type="text" placeholder="" formControlName="name">
        <label style="float: left;">Height (cm)</label>
        <input class="form-control m-2" type="number" placeholder="" formControlName="height">
        <label style="float: left;">Weight (kg)</label>
        <input class="form-control m-2" type="number" placeholder="" formControlName="weight">
        <label>Type </label>
        <select formControlName="type">
          <option value="teacher">Teacher</option>
          <option value="user">User</option>
        </select>
  
        <button class="btn btn-primary btn-block m-2" type="submit">Sing up</button>
    </form>
  
  
    </div>
  </div>
