<div class="container2 mt-4">
    <div class="card">
        <div style="text-align: center; background-color: rgb(0,0,0);" class="card-body derecha">
            <span class="h2">Join a Class!</span>
        
           
             
        </div>
    </div>
</div>
    <div class="container mt-4">
    <tr *ngFor="let clase of clases">
         <div class="card mt-5">
            <div class="card-body">
                <tr>
                    <div class = "name">
                    <h3>
                       {{clase.Name}}
                    </h3>
                    </div>
                    <div class = "text">
                    <h3>
                         Teacher : {{clase.Profesor}}
                    </h3>                   
                    <h3>
                        Time: {{clase.Hora}}
                    </h3>
                    <div *ngIf="!clase.apuntado;else noApuntado">
                        <button (click)="join(clase.id,clase.Members)" class="col btn btn-dark btn-lg">Join</button>
                    </div>
                    <ng-template #noApuntado><button (click)="cancel(clase.id,clase.Members)" class="col btn btn-danger btn-lg">Cancel</button></ng-template>

                    </div>
                
                </tr>
            
             
            </div>
        </div>
    </tr>
    <div>


    </div>
</div>