<div class="container2 mt-4">
    <div class="card">
        <div class="card-body derecha">
            <span class="h2">Join a Class!</span>
        
           
             
        </div>
    </div>
</div>
    <div class="container mt-4">
    <tr *ngFor="let clase of clases">
         <div class="card mt-5">
            <div class="card-body">
                <tr>
                    <h3>
                       {{clase.Name}}
                    </h3>
                    <h4>
                         Teacher : {{clase.Profesor}}
                    </h4>
                    <h4>
                        {{clase.Hora}}
                    </h4>
                
                </tr>
            
             
            </div>
        </div>
    </tr>
    <div>


    </div>
</div>