<div class="container2 mt-4">
    <div class="card">
        <div class="card-body derecha">
            <span class="h2">List of routines</span>
            <div>
                <button class="btn btn-dark btn-lg mt-5" routerLink="/createRoutine">Add Routine</button>
            </div>
            
           
             
        </div>
    </div>
</div>
    <div class="container mt-4">
    <tr *ngFor="let rutina of rutinas">
         <div class="card mt-5" [routerLink]="['/routine/', rutina.id]">
            <div class="card-body">
                <tr>
                    <div class = "titulo">
                    <h3>
                        {{rutina.Name}}
                    </h3>
                    </div>
                    <div class = "nivel">
                    <h4>
                        {{rutina.Level}}
                    </h4>
                    </div>
                    <div class = "duracion">
                    <h4>
                        {{rutina.Time}} minutes
                    </h4>
                    </div>
                     
                </tr>
            </div>
        </div>
    </tr>
    <div>


    </div>
</div>