<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">List of routines</span>
           
            <table class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Level</th>
                    <th>Time</th>

                    <th></th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>
                        <i class="fa-solid fa-trash-can"></i>                    </td>         
                </tr>
                  <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                   <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <button class="btn btn-dark btn-lg mt-5">Add Routine</button>

</div>