<div class="container2 mt-4">
    <div class="card">
        <div class="card-body derecha">
            <span class="h2">List of routines</span>
            <div>
                <button class="btn btn-dark btn-lg mt-5" routerLink="/createRoutine">Add Routine</button>
            </div>
            
           
             
        </div>
    </div>
</div>
    <div class="container mt-4">
    <tr *ngFor="let rutina of rutinas">
         <div class="card mt-5">
            <div class="card-body">
                <tr>
                    <h3>
                       {{rutina.Name}}
                    </h3>
                    <h4>
                        {{rutina.Level}}
                    </h4>
                    <h4>
                        {{rutina.Time}} minutes
                    </h4>
                
                    <p>
                        {{rutina.Description}}
                    </p>
                </tr>
            
             
            </div>
        </div>
    </tr>
    <div>


    </div>
</div>